doctype html 
html 
    head 
        title User Info
    body 
        h3 User Information 
            p='First name: ' + user.firstname
            p='Last name: ' + user.lastname
            p='Email: ' + user.email
            p='id: ' + user.id
            img(src=user.croppedPhotoLink, alt=user.croppedPhotoLink)